# --- environment related -------
.venv_prj1/
.env
.vscode/

.idea/

# ---------- folders to ignore ----------
__DUCKdb/_inputs/
__DUCKdb/_outputs/
#------------
_1inputs/
#--------------
_3agg_backtest/__input_ag/
_3agg_backtest/__output_ag/
#----------
_4charts/
_5outputs/
_5backtest_results/

# ------- files to ignore -----------
*.ipynb
*.csv

# -------- file in folder ----------
__DUCKdb/*.csv

